.container {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  margin: 20px auto;
  width: 500px;
  background-color: honeydew;
}

{/* >>>>> Need to correct avatar alignment with username */}
.avatar {
  width: 30px;
  border-radius: 5px;
  padding: 0 10px 0 0;
}

.content-image {
  width: 500px;
}